.about {
  padding-top: 48px;
  padding-bottom: 48px;
}

.profile {
  width: 100%;
  max-width: 500px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.profile:hover {
  -webkit-filter: none;
  filter: none;
}

@media (min-width: 414px) {
  .about .row {
    display: flex;
    flex-direction: row-reverse;
  }
}
