.myCard {
  cursor: pointer;
  margin-bottom: 16px !important;
  padding-left: 7.75px;
  padding-right: 7.75px;
}
.image-wrapper {
  overflow: hidden;
}
.card-img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: auto;
}
.cards {
  margin: 0 auto !important;
}

.coming-soon {
  font-size: 17px;
  font-weight: 700;

  color: white;
  position: absolute;
  text-shadow: 1px 1px gray;
}
